@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
h1{
    font-size: 2.5em;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color:#102f5e;
    text-shadow: 0.1em 0.1em #102f5e6e;
}
body{
    background-repeat: no-repeat;
    background-image: url("../img/pexels-egor-kamelev-813871.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
    min-height: 35em;
}
button{
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    border-radius: 9px 0px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
button:hover{
    background-color: #102f5e;
    color: aqua;
}
button:hover > i{
    color: aqua;
}
button i{
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}
input, select{
    padding: 0.25rem 0.5rem;
}
.hide{
    display: none;
}


.todo-container{
    max-width: 35em;
    margin: 3rem auto;
    background-color: rgba(254, 254, 255, 0.514);
    padding: 1.5rem;
    border-radius: 20px;
}
.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}


#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
#todo-form p, #edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form-control{
    display: flex;
}
.form-control input{
    margin-right: .3rem;
}
#cancel-edit-btn{
    margin-top: 1rem;
}


#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}
#toolbar h4{
    margin-bottom: .5rem;
}
#search{
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}
#search form{
    display: flex;
}
#search input{
    width: 100%;
    margin-right: .3rem;
}
#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}
#filter select{
    flex: 1;
}


.todo{
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}
.todo h3{
    flex: 1;
    font-size: .9rem;
}
.todo button{
    margin-left: .4rem;
}
.done{
    background-color: #395169;
}
.done h3{
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}


/*respansividade*/
@media(max-width: 1200px){
    .todo-container{
        margin-top: 10em;
        max-width: 27em;
    }
    body{
        min-height: 44em;
    }
}
@media(max-width: 1064px){
    .todo-container{
        margin-top: 7em;
        max-width: 27em;
    }
    body{
        height: 40em;
    }
}
@media(max-width:732px){
    .todo-container{
        max-width: 30em;
    }
    body{
        height: 50em;
    }
}
@media(max-width:632px){
    .todo-container{
        margin-top: 10em;
        max-width: 27em;
    }
    body{
        min-height: 48em;
    }
}
@media(max-width:532px){
    .todo-container{
        max-width: 22em;
    }
}
@media(max-width:432px){
    .todo-container{
        max-width: 17em;
    }
    #toolbar{
        flex-direction: column;
    }
    #search{
        border-right: 0;
        padding-right: 0;
        margin-right: 0;
        width: 100%;
    }
    #filter{
        width: 100%;
    }
}
@media(max-width: 360px){
    .todo-container{
       max-width: 14em;
    }
    #todo-input{
        width: 70%;
    }
}
@media(max-width: 310px){
    .todo-container{
       max-width: 10em;
    }
    .todo{
        display: flex;
        flex-direction: column;
    }
    .finish-todo, .edit-todo, .remove-todo{
        height: 1.2em;
        margin-top: 3px;
        width: 80%;
    }
}